@font-face {
    font-family: "Roboto Slab";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Roboto Slab"), url(robotoslab-regular-400.woff2) format("woff2");
}

@font-face {
    font-family: "Roboto Slab";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local("Roboto Slab"), url(robotoslab-medium-500.woff2) format("woff2");
}

@font-face {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local("Roboto Slab"), url(robotoslab-bold-700.woff2) format("woff2");
}
